{% for user in grabable %}
  <ul>
    <li>
      <input type="checkbox" id="chk:{{user}}">{{user}} <br />
      <ul>
        {% for browser in grabable[user] %}
          <li>
            <input type="checkbox" id="chk:{{user}}|{{browser}}">{{browser}} <br />
            <ul>
              {% for profile in grabable[user][browser] %}
                <li><input type="checkbox" id="chk:{{user}}|{{browser}}|{{profile}}">{{profile}}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endfor %}

