<!doctype html>
<html lang="en">
<head>
  <title>Index - CookieJar</title>
  <!-- defaults -->
  {% include 'defaultHead.html' %}
  <script type="text/javascript" src="/static/js/custom/grabable.js"></script>
  <script type="text/javascript" src="/static/js/custom/grab.js"></script>
</head>

<body onload="setSettings()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Nav -->
        {% include 'menu.html' %}
        <!-- End Nav -->
        <!-- Status -->
        <div id="status">
        </div>
        <!-- End Status -->
        <!-- Content -->
        <div id="content" class="well">
          <h2>Grab</h2>
          <b>Select the users, browsers and profiles you want to grab the cookies of.</b>
          {% include "grabable.html"%}
        </div>
      </div>
    </div>
  </div>
</body>
</html>

