<!doctype html>
<html lang="en">
<head>
  <title>Index - CookieJar</title>
  <!-- defaults -->
  {% include 'defaultHead.html' %}
  <script type="text/javascript" src="/static/js/custom/grabable.js"></script>
</head>

<body onload="setSettings()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Nav -->
        {% include 'menu.html' %}
        <!-- End Nav -->
        <!-- Content -->
        <div class="well">
          {% include "grabable.html"%}
          <table class="buttonPannel">
            <tr>
              <td><button id="grab" class="btn btn-default">Grab!</button></td>
              <td><button id="all" class="btn btn-default">Select all</button></td>
            </tr>
            <tr>
              <td></td>
              <td><button id="grab" class="btn btn-default">Select none</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

