<div class="well">
  <table>
    <tr><td>Domain</td> <td><input type="text" placeholder="Domain"  id="domain"> </td>
      <td>Name</td>   <td><input type="text" placeholder="Name"    id="name">   </td></tr>
    <tr><td>ID</td>     <td><input type="text" placeholder="ID"      id="id">     </td>
      <td>Value</td>  <td><input type="text" placeholder="Value"   id="value">  </td></tr>
    <tr><td>Browser</td><td><input type="text" placeholder="Browser" id="browser"></td>
      <td>User</td>   <td><input type="text" placeholder="User"    id="user">   </td></tr>
  </table>
  <button id="search">Search</button>
</div>

