<!doctype html>
<html lang="en">
<head>
  <title>Index - CookieJar</title>
  <!-- defaults -->
  {% include 'defaultHead.html' %}
  <script type="text/javascript" src="/static/js/custom/query.js"></script>
</head>

<body onload="setSettings()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Nav -->
        {% include 'menu.html' %}
        <!-- End Nav -->
        <!-- Content -->
        <div class="well">
          <div class="well">
            <table>
              <tr><td>Domain</td> <td><input type="text" placeholder="Domain"  id="domain"> </td>
                  <td>Name</td>   <td><input type="text" placeholder="Name"    id="name">   </td></tr>
              <tr><td>ID</td>     <td><input type="text" placeholder="ID"      id="id">     </td>
                  <td>Value</td>  <td><input type="text" placeholder="Value"   id="value">  </td></tr>
              <tr><td>Browser</td><td><input type="text" placeholder="Browser" id="browser"></td>
                  <td>User</td>   <td><input type="text" placeholder="User"    id="user">   </td></tr>
            </table>
            <button id="search">Search</button>
          </div>
          <table id='data' class="table table-hover table-striped">
            <thead>
              <tr class="warning">
                <td>Domain</td>
                <td>Host</td>
                <td>Name</td>
                <td>Browser</td>
                <td>User</td>
                <td>Time Jarred</td>
              </tr>
            </thead>
            <tbody>
              {% for c in cookies %}
                <tr>
                  <td>{{c['domain']}}</td>
                  <td>{{c['host']}}</td>
                  <td>{{c['name']}}</td>
                  <td>{{c['browser']|title}}</td>
                  <td>{{c['user']|user}}</td>
                  <td>{{c['timejarred']|toDate}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

