.table.table-striped tr.selected{
   background-color: #556677;
   color: #FFFFFF;
}

ul.topNode{
  list-style:none;
}
ul.node li{
  list-style:none;
}
ul.node{
  margin-top:-1px;
  border-left: 1px black solid;
  padding-left:10px;
}
