h2{
  clear:botth;
}

#grabable{
  float:left;
}

.table.table-striped tr.selected{
   background-color: #556677;
   color: #FFFFFF;
}

ul.topNode{
  list-style:none;
}
ul.node li{
  list-style:none;
}
ul.node{
  margin-top:-1px;
  border-left:1px black solid;
  padding-top:3px;
  padding-left:10px;
}
.buttonPannel td{
  padding-right:20px;
}
.buttonPannel button{
  width:100px;
}
